<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>DashBoard</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #ededed;">
	<div style="background-color: #337ab7; height: 50px;"></div>
	<div class="container-fluid" style="margin-top: 30px;">
<span th:text="${#authentication.getPrincipal().getUsername()}"></span>
        <a href="/login"> logout</a>
		<div class="row col-lg-4 col-lg-offset-4"
			style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd;">
			<form autocomplete="off" action="#" th:action="@{/identity}"
				th:object="${user}" method="post" class="form-signin" role="form">
				<h3 class="form-signin-heading">Registration identity</h3>
				
					<div class="form-group">
					<div class="">
						<label>Document Type         </label> 
						<select th:field="*{document}">
							<option th:value="'Passport'">Passport</option>
							<option th:value="'Business'">Business License</option>
						</select>
					</div>
				</div> 
				<div class="">
				<label>Document No        </label>
						<input type="text" th:field="*{docnum}" placeholder="Document no"
							class="form-control" />
					</div>
					<br />
					<div class="form-group">
					<div class="">
						<button type="submit" class="btn btn-primary btn-block">Update 
							Identity </button>
					</div>
				</div>
				<br />
				<a href="/bank"> Update Bank details</a>
			</form>
			
		</div>
	</div>
</body>
</html>