<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>ALIBABA </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#ededed;">
	<div style="background-color:#337ab7;height:50px;"></div>
	<div class="container-fluid">
		<div class="row col-lg-4 col-lg-offset-4" style="margin-top: 80px;background-color:#fff;padding:20px;border:solid 1px #ddd;">
			<!-- <img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" /> -->
			<form autocomplete="off" action="#" th:action="@{/password}"
				th:object="${user}" method="post" class="form-signin" role="form">
				<h3 class="form-signin-heading">Confirm Password</h3>
				<div class="">
					<label>Password        </label>
						<input type="password" th:field="*{password}" placeholder="Confirm password"
							class="form-control" />
					</div>
				<div class="form-group">
					<div class="">
						<button type="submit" class="btn btn-primary btn-block">Confirm  
							password </button>
					</div>
					</div>
			</form>
		</div>
	</div>
</body>
</html>